<div ng-controller="hikeMgmtView.hikeMgmtViewCtrl">
	<div hike-editor style="display: none;"> 
		<form>
			<fieldset>
				<div class="clearfix">
					<label for="trail">Trail</label>
					<div class="input">
						<select ng-model='selectedTrail' name="Trail" id="trail" style="width: 220px;">
							<option ng-selected="trail.id == selectedTrail" ng-repeat="trail in trails" value="{{trail.id}}">{{trail.name}}</option>
						</select>
					</div>
				</div><!-- /clearfix -->
				<div class="clearfix">
					<label for="xlInput">Trail Name</label>
					<div class="input input-append">
						<input class="" ng-model="trailName" id="trailName" name="trailName" size="30" style="width: 193px;" type="text" placeholder="...if you have one">
					    <span popover class="add-on" data-content="On some trails, hikers are known by a pseudonym called their Trail Name.  If you don't have a trail name, leave this blank">?</span>
					</div>
				</div><!-- /clearfix -->
				<div class="clearfix">
					<label for="year">Year</label>
					<div class="input">
						<select name="Year" ng-model='selectedYear' id="year" style="width: 220px;">
							<option ng-selected="year.id == selectedYear" ng-repeat="year in years" value="{{year.id}}">{{year.year}}</option>
						</select>
					</div>
				</div><!-- /clearfix -->
				<div class="clearfix">
					<label for="notes">Notes</label>
					<div class="input">
						<textarea ng-model='notes' class="xxlarge" id="notes" name="notes" rows="4"></textarea>
						<span class="help-block">
							NOBO, SOBO, flip-flopper, section list, etc.
						</span>
					</div>
				</div>
			</fieldset>
		</form>
		<div class="row">
			<div class="pull-right">
				<div class="pull-right">
					<button ng-click="saveHike()" class="btn primary">Save</button>
					<button ng-hide='hikeToEdit==-1' ng-click="deleteHike()" class="btn danger">Delete</button>
					<button ng-click="cancelSaveHike()" class="btn">Cancel</button>
				</div>
			</div>
		</div> 
	</div> <!-- /hike editor -->
	<div style="max-height: 600px; overflow: auto;">
		<table>
			<thead>
				<tr>
					<th style="width:10%;">Year</th>
					<th>Trail</th>
					<th>Trail Name</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				<!--
				<tr>
					<td colspan='3'><em>(No hikes yet)</em></td>
				</tr>
				-->
				<tr ng-repeat="hike in myHikes">
					<td><a ng-click="editHike(hike.TrailYear)" href="javascript:void(0)">{{hike.Year}}</a></td>
					<td><a href="javascript:void(0)">{{hike.Trail}}</a></td>
					<td><a href="javascript:void(0)">{{hike.TrailName}}</a></td>
					<td><a href="javascript:void(0)">{{hike.Notes}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="span2 offset10">
			<button ng-disabled="hikeToEdit != null" ng-click="addNewHike()" class="btn primary">Add New Hike</button>
		</div>
	</div>
</div>