<!doctype html>
<html lang="en" class="ng-cloak">
<head>
	<title>Angular Grunt Coffeescript</title>
	<meta charset="utf-8">

	<!-- Get as much from CDNs as we can -->

	<!-- CSS -->
	<link href="style/lib.css" rel="stylesheet">
	<link href="style/app.css" rel="stylesheet">

	<!-- JS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
	<!--<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.js"></script>-->
	<script src="//connect.facebook.net/en_US/all.js"></script>
	<script src="js/lib.js"></script>
	<script src="js/app.js"></script>
	
</head>

<body class="contianer canvas" ng-controller="index.indexCtrl">
	<div id="fb-root"></div>
	<div style="height:20px"></div> <!-- spacer -->
	<div ng-show="unauthorized" class="alert-message error">You cannot continue because you did not authorize the Hikerfinder app.  Refresh this page to retry.</div>
	<div id="spash" ng-hide="loggedIn">
		<div class="row">
			<div class="span12">
				<img width='720px' src='index/Boot-Print-Huge.png'>
			</div>
		</div>
	</div>
	<div id="main" ng-show="loggedIn">

		<h1>Hikerfinder</h1>
		<p>Welcome dirty hiker!  The Hikerfinder facebook app allows you to find other hikers by trail name.</p>

		<ul class="tabs" id="mainTabs">
			<li class="active"><a href="javascript:void(0)" tab="hikerList">Hikers</a></li>
			<li><a href="javascript:void(0)" tab="hikeMgmt">Manage My Hikes</a></li>
		</ul>

		<div class="tab-content">
			<div id="hikerList" class="active">
				<div style="height: 600px; overflow: auto;">
					<table>
						<thead>
							<tr>
								<th>Photo</th>
								<th>Full Name</th>
								<th>Trail</th>
								<th>Year</th>
								<th>Trail Name</th>
								<th>Added</th>
								<th>Friend?</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="hiker in hikers">
								<td><img ng-src="https://graph.facebook.com/{{hiker.id}}/picture"></td>
								<td>{{hiker.name}}</td>
								<td>Appalachian Trail</td>
								<td>2006</td>
								<td>Blue Fox</td>
								<td>March 28, 2013</td>
								<td ng-init="hiker.friend = isFriend()">
									<img style="width: 20px" ng-show="hiker.friend" src="index/checkmark.png">
									<img style="width: 20px" ng-hide="hiker.friend" src="index/checkmark-red.png">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="hikeMgmt">
				MGMT
			</div>
		</div>
		<div style="display: none;">
		{{friends}}
		<!--<div ng-view></div> -->
		<div class="span12">
			<h3>Graph Dumper</h3>
		</div>
		<div class="span12">
			<input id="graphDumper" type="text" placeholder="Dump graph.."></input>
			<button class="btn" ng-click="graphDumper()">Run</button>
		</div>
		<div class="row">
			<div class="span12">
				<hr>
				<p class="text-center"><small>Running in {{env}} environment</small></p>
			</div>
		</div>
		</div>
	</div>
</body>
</html>